Source: pisak
Maintainer: Aleksander Kijek <sasza@braintech.pl>
Section: python
Priority: optional
Build-Depends: python3-setuptools, python3-all, debhelper (>= 9)
Standards-Version: 3.9.1

Package: python3-pisak
Architecture: all
Depends: ${misc:Depends}, ${python3:Depends}, xdg-user-dirs, libav-tools, gir1.2-clutter-1.0, gir1.2-clutter-gst-2.0, gir1.2-mx-1.0, gir1.2-rsvg-2.0, libmx-1.0-2, libclutter-1.0-0, gir1.2-webkit-3.0, gir1.2-gtkclutter-1.0, gir1.2-gst-plugins-base-0.10, gir1.2-gst-plugins-base-1.0, gstreamer0.10-plugins-good, gstreamer0.10-plugins-ugly, gstreamer0.10-plugins-base, gstreamer0.10-plugins-bad, gstreamer0.10-x, gstreamer1.0-plugins-bad, gstreamer1.0-plugins-base, gstreamer1.0-plugins-good, gstreamer1.0-x, gstreamer1.0-plugins-ugly, libgstreamer-plugins-base0.10-0, libgstreamer-plugins-base1.0-0, gstreamer1.0-libav, python3-gi, python3-pil, python3-gi-cairo, python3-sqlalchemy, python3-magic, python3-pip, python3-bs4, python3-ws4py, python3-taglib, python3-configobj
Recommends: milena
Description: Polish Integrational System for Alternative Communication
     PISAK is a programme for people with severe problems in muscle control.
     It lets them operate various applications (speller, email, blog, audio,
     video, etc.- see the site for the full list)
     using only one signal which might be send through a switch, puff, EMG. 
     PISAK is also a library which helps to write applications that work 
     according to above description.
     Applications in PISAK can be also operated using an eyetracker or a
     conventional mouse.

